h2 Find a Project
p You heard about a project or campaign on RoundSeed.  Hopefully, they sent you a link.  If not, you can search RoundSeed (up there at the top of the screen). Next signup/login and enjoy learning about the project.
h2 Seed It!
p You found the project, watched the video and even read a comment or two and like what you see.  So go ahead, give within your comfort level or up to that reward your eyeballing.
h2 Tell Everyone About It!
p You did something to make something happen.  Why not tell others that you know?  We've made it real simple too. Right after you contribute to the project's success you can share what you did with your Twitter followers and Facebook friends.
p Go ahead, share the love!
h2 Have some more questions?
p Check our our FAQ section or send us an email #{mail_to t('site.email.contact'), "right here", :target => :_blank}.
