h2 Upload Your Project
h3 Video
p Create a short 3-5 minute video introducing yourself, your product, project or venture. Use the video to convey your passion, while also informing others why your looking to raise funds and what the funds will be used for. Share what perks or rewards that you are offering and how they tie in to your project. Be awesome. Be detailed. Be respectful.
h3 Description
p Write up a description of your RoundSeed project. (No more than 300 words)
h3 Seed Amount & Timeline
p Determine how much you need to get your venture launched. Don't forget to include such items as the cost of distributing your rewards, as well as RoundSeed's and our payment processors fees.
p Determine how long you want to run your project on RoundSeed. (Our suggestion is 30 days)
h2 Tell Everyone About It
h3 Leverage Your Social Capital 
h4 Pre-project launch:
p Broadcast that you are about to launch your project on RoundSeed. The goal is to connect with others in advance of your launch so they can spread the word when they hear the word.
p Not a social media person?  Send an email. Pick up the phone. What matters is that you get the connections started. There are surely some social butterflys in your network.
h4 Project Launch:
p Get excited! Your project is up and live on RoundSeed, so makes some noise and follow up with your contacts to let them know it's time to support the project and help spread the word.
h4 Regular Updates:
p During your project timeframe, keep sending out updates. Let them know that your crossing milestones. Answer a frequently asked question "out loud" through an update.
p Bottom line - stay positive! Be appreciative!  If it looks like you might not fund your project before the end of your projects term, remember that successful projects tend to be funded in the final days and hours. It's a marathon, not a sprint.
h3 Email
p Believe it or not, some people don't have a social media account. So, send emails directing those friends, family and followers to your RoundSeed campaign page. (We've even provided an awesome whatchamacallit to make this easy, for you, and for them, to email-share.)
h3 Other
p If you know people who don't have social media accounts or even email, then string two cans together and call 'em up, or strap a note to the pigeon and let them know what you're up to.  All they have to do is remember "RoundSeed" and you your name, and whomoever they tell will be able to find your campaign.
p Remember, all supporters are good supporters, and each and every supporter matters!
h2 Tell Everyone About it Again!
h3 Motivate, Connect and Engage!
p O primeiro, disparado, é a paixão pelo projeto. A transparência e a habilidade para executar o projeto vêm logo após. Mas a sua capacidade de divulgar o projeto, principalmente na internet, será fundamental.
