<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
    <style>
        body {
            padding-top: 30px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.css" rel="stylesheet">


</head>
<body>
<div class="container">
    <div class="row">
        <div class="span2 columns">

            <div class="accordion" id="accordion1">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                            Menu1
                        </a>
                    </div>
                    <div id="collapseOne" class="accordion-body collapse in">
                        <div class="accordion-inner">
                            Anim pariatur c</div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                            Menu2
                        </a>
                    </div>
                    <div id="collapseTwo" class="accordion-body collapse in">
                        <div class="accordion-inner">
                            Anim pariatur clich </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                            Menu3
                        </a>
                    </div>
                    <div id="collapseThree" class="accordion-body collapse in">
                        <div class="accordion-inner">
                            Anim pariatur clic </div>
                    </div>
                </div>
            </div>
    </div>
  
            <!-- Placed at the end of the document so the pages load faster -->
            <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
            <script src="http://twitter.github.com/bootstrap/assets/js/jquery.js"></script>
            <script src="http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.js"></script>
            <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-transition.js"></script>
            <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-alert.js"></script>
            <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-modal.js"></script>
            <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
            <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-scrollspy.js"></script>
            <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tab.js"></script>
            <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tooltip.js"></script>
            <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-popover.js"></script>
            <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-button.js"></script>
            <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-collapse.js"></script>
            <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-carousel.js"></script>
            <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-typeahead.js"></script>
            <script src="http://twitter.github.com/bootstrap/assets/js/application.js"></script>
            <script type="text/javascript">
                $(".collapse").collapse();
                $('#accordion').collapse({hide: true})
            </script>
        </div>
    </div>
</div>
</body>
</html>​